name: Build and Release

on:
  push:
    tags: [ v* ]
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  build_matrix:
    runs-on: ubuntu-latest   
    strategy:
      fail-fast: true
      matrix:
        repo: [pret, fp555]
        include:
          - repo: pret
            ref: master
          - repo: fp555
            ref: ${{ github.ref_name }}
    outputs:
      free_space: ${{ steps.free.outputs.free_space }}
    steps:
      - name: Install packages
        run: |
            sudo apt install -y libpng-dev
      - name: Checkout rgbds
        uses: actions/checkout@v4
        with:
          repository: gbdev/rgbds
          path: rgbds
          ref: v1.0.0
      - name: Install rgbds
        working-directory: rgbds
        run: |
            sudo make install
      - name: Checkout repo
        uses: actions/checkout@v4
        with:
          repository: ${{ matrix.repo }}/pokecrystal
          ref: ${{ matrix.ref }}
      - name: Make ROM
        run: |
            make -j$(nproc)
      - name: Check SHA1
        run: |
            sha1sum pokecrystal.gbc
      - name: ROM free space
        id: free
        if: matrix.repo == 'fp555'
        run: |
            awk -f .github/workflows/free_space.awk BANK=all pokecrystal.map
            echo "free_space=$(awk -f .github/workflows/free_space.awk pokecrystal.map)" >> $GITHUB_OUTPUT
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.repo }}
          path: pokecrystal.gbc
          if-no-files-found: error
    
  patch_release:
    runs-on: ubuntu-latest
    needs: build_matrix
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v5
      - name: Download Flips
        uses: robinraju/release-downloader@v1
        with:
          repository: Alcaro/Flips
          latest: true
          filename: flips-linux.zip
          extract: true
      - name: Create BPS patch
        run: |
            chmod +x flips
            ./flips --create --bps pret/pokecrystal.gbc fp555/pokecrystal.gbc patch_${{ github.ref_name }}.bps
      - name: Create release draft
        if: github.ref_type == 'tag'
        uses: ncipollo/release-action@v1
        with:
          name: ${{ github.ref_name }}
          draft: true
          prerelease: true
          artifacts: '*.bps'
          artifactErrorsFailBuild: true
          body: ${{ needs.build_matrix.outputs.free_space }}
      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: patch
          path: '*.bps'
          if-no-files-found: error
      - name: Remove GBC artifacts
        uses: geekyeggo/delete-artifact@v5
        with:
          name: '!patch'
          failOnError: false
